
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baseLayout}">
  
  <body>
  


<th:block layout:fragment="content">

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-3 mb-4 text-center">회원탈퇴</h1>
    <div class="row">
	    <div class="col-4">
	        <section th:replace="~{/user/comm/mypage_meun}">
	    	</section>
	    </div>
	    <div class="col-8">
	        <form class="form-horizontal" id="deleteForm" th:action="@{/user/delete}" method="post">
	            <div class="card-body">
	                <div class="card-header">
	                <div class="form-group row">  
	                        <label for="user_pwd" class="col-sm-2 col-form-label">비밀번호입력</label>
	                        <div class="col-sm-8">
	                            <input type="password" class="form-control" id="user_pwd" name="user_pwd" >
	                        </div>
	                </div>
	              </div>   
	            	
	                <!-- id="btnJoin"   -->
	                <button type="button" class="btn btn-secondary btn-lg btn-block" id="btndelete">회원탈퇴</button> <!--type에 submit(전송기능있음) 이거나 button(전송기능없음) 이거나 하면 코드가 달라짐-->
	                </div>
	                
	            </form>
	    </div>
	</div>
<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>
</main>
  
</th:block>

 <th:block layout:fragment="script">
 <!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
 <script th:inline="javascript">
	
 	let msg = [[${msg}]];
 	if(msg == "failPW") {
		alert("비밀번호가 다릅니다.")
 	}else if(msg == "success") {
		alert("회원탈퇴가 완료되었습니다.")
 	}
 
 	$(document).ready(function() {   // ready event start
			     
	    $("#btndelete").on("click", function() {
			if($("#user_pwd") == "") {
			alert("비밀번를 입력하세요.");
			$("#user_pwd").focsu();
			return;
		}
		$("#deleteForm").submit();
		
	    });
	
	 }); // ready event end


</script>
 </th:block>
  </body>
</html>
